- remote_form_for([:admin, @lookup_item], :html => one_submit_only(:lookup_item).merge({:autocomplete => 'off'})) do |f|
  = link_to_close new_admin_lookup_item_path
  = f.error_messages
  = render :partial => "admin/lookup_items/lookup_item_form", :locals => { :f => f }
  .buttonbar
    = f.submit t(:create, :scope => [:di, :lookups, :items])
    #{t :or}
    = link_to_cancel new_admin_lookup_item_path
 
