- unless locale_form == I18n.default_locale

  - locale_name = locale_form.to_s
  - item_locale = lookup_item.locales.find_by_language(locale_name)
  - active      = !item_locale.nil?
  - description = item_locale.nil? ? "" : item_locale.description
  - longdesc    = item_locale.nil? ? "" : item_locale.long_description
  -# @account.permissions.map(&:user_id).include?(user.id) || (params[:users] && params[:users].include?(user.id.to_s))

  = hidden_field_tag "locale_languages[]", locale_name, { :id => "locale_language_#{locale_name}" }

  .disubform{ :style => "width:492px;" }

    .check_box
      = check_box_tag "locales[]", locale_name, active, { :id => "locale_#{locale_name}", :onclick => cbx_locale_handler(locale_name) }
      = label_tag "locale_#{locale_name}", "<b>#{h("#{t :language, :locale => locale_name.to_s, :default => "Languge #{locale_name}" } (#{ h(locale_name) })")}</b>", :style => "cursor:pointer"

      %div{:id => "localeform_#{locale_name}", :style => "display:#{active ? "block" : "none"};" }

        %table{ :border => 0, :cellpadding => 0, :cellspacing => 0 }
          %tr
            %td
              = label_tag "locale_description_#{locale_name}", "<small>#{h(t :description, :scope => [:di, :lookups, :items])}:</small>"
            %td= spacer
            %td
              = text_field_tag "locale_descriptions[]", description, { :id => "locale_description_#{locale_name}", :maxlength => 255, :style => "width:240px;" }

          %tr
            %td
              = label_tag "locale_long_description_#{locale_name}", "<small>#{h(t :long_description, :scope => [:di, :lookups, :items])}:</small>"
            %td= spacer
            %td
              = text_field_tag "locale_long_descriptions[]", longdesc, { :id => "locale_long_description_#{locale_name}", :maxlength => 255, :style => "width:395px;" }
