- edit ||= false
.section
  = f.hidden_field :parent_id
  = f.hidden_field :lookup_id
  = f.hidden_field :sequence
  %table(width=500 cellpadding=0 cellspacing=0)
    %tr
      %td(valign="top")
        .label.top.req #{t :code, :scope => [:di, :lookups, :items]}:
        = f.text_field :code, :style => "width:240px"
      %td= spacer
      %td(valign="top")
        .label.top #{t :description, :scope => [:di, :lookups, :items]}:
        = f.text_field :description, :style => "width:240px"
    %tr
      %td(valign="top"){:colspan => "3"}
        .label.top #{t :long_description, :scope => [:di, :lookups, :items]}:
        = f.text_field :long_description, :style => "width:495px"
    %tr
      %td(valign="top")
        .label.top.req #{t :item_type, :scope => [:di, :lookups, :items]}:
        = f.select :item_type, options_for_select([ "Editable", "Standard", "Non-selectable" ], @lookup_item.item_type), { :include_blank => false }, { :style => "width:240px" }
      %td= spacer
      %td(valign="top")
        .label.top #{t :html_color, :scope => [:di, :lookups, :items]}:
        = f.text_field :html_color, :style => "width:200px"

= render :partial => "locales", :locals => { :f => f, :edit => true, :lookup_item => @lookup_item }
= render :partial => "admin/dicommon/audit_information", :object => @lookup_item, :locals => { :edit => true } unless @lookup_item.created_at.nil?