.confirm[@lookup, :confirm]
  #{t :confirm_delete, :scope => [:di, :lookups]}
  #{t :delete} <b>#{@lookup.name}</b>?
  = link_to_delete(@lookup) << " : "
  = link_to_function(t(:no_button), "crm.flick('#{dom_id(@lookup, :confirm)}', 'remove')")
 
