%li[lookup]{ highlightable(dom_id(lookup, :tools)) }

  - if lookup.active?
    .strip.active #{t :active, :scope=> [:di]}
  - elsif lookup.unpublished?
    .strip.unpublished #{t :unpublished, :scope=> [:di]}
  - else
    .strip.inactive #{t :inactive, :scope=> [:di]}

  .indent
    .tools{ invisible, :id => dom_id(lookup, :tools) }
      = link_to_edit(lookup) << " | "

      - if lookup.active?
        = link_to_unpublish(lookup) << " | "

      - if lookup.unpublished?
        = link_to_publish(lookup) << " | "
        = link_to_inactivate(lookup) << " | "

      - if lookup.inactive?
        = link_to_activate(lookup) << " | "

      = link_to_confirm(lookup)

    %span.black #{link_to(h(lookup.name), admin_lookup_path(lookup))}
    %tt
      = " - #{h(lookup.description)}" unless lookup.description.blank?

    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = "#{t :child_count_small, :scope=> [:di, :lookups]}: <b>#{lookup.lookups.length}</b> | " if defined? show_child_count
      = "#{t :created_at_small, :scope=> [:di]}: <b>#{l(lookup.created_at, :format => :short)}</b> | "
      = "#{t :updated_at_small, :scope=> [:di]}: <b>#{l(lookup.updated_at, :format => :short)}</b>"
