= styles_for :lookup

.title_tools
  = link_to_remote(t(:cacheupdate, :scope=> [:di, :lookups]) + "!", :method => :put, :url => cacheupdate_admin_lookup_path(0)) << " | "
  = link_to_inline(:create_lookup, new_admin_child_lookup_path(nilz(@lookup_id)), :text => t(:create, :scope=> [:di, :lookups]))

.title
  %span#create_lookup_title #{t :title, :scope=> [:di, :lookups]}

  %br
  .discope 
    - unless @lookup.nil?
      #{t :children, :scope=> [:di, :lookups]} #{t :for_parent, :scope=> [:di, :lookups]}: #{h(@lookup.name)}
      %br
      - unless @lookup.parent.nil?
        %i= "#{t :parent_lookups, :scope=> [:di, :lookups]}: #{link_to(t(:all_lookups, :scope => [:di, :lookups, :items]), admin_lookups_path)} | #{link_to_parents(@lookup)} | #{h(@lookup.name)}" unless @lookup.parent.nil?
    - else
      #{t :root, :scope=> [:di, :lookups]}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")

.remote#create_lookup{ hidden }

.list#lookups= render :partial => "lookup", :collection => @lookups
#paginate= render :partial => "common/paginate"
