= styles_for :lookup

.title= h(@lookup.name)

= "<br/>#{t :parent_lookup_small, :scope=> [:di, :lookups]}: <b>#{link_to(h(@lookup.parent.name), admin_lookup_path(@lookup.parent))}</b>" unless @lookup.parent.nil?

.list#lookupparrent= render :partial => "lookup", :object => @lookup

%p
:erb
  <%= link_to t(:show_all, :scope => [:di]), admin_lookups_path %>
%br
%br
.title_tools
  = link_to_inline(:create_lookup, new_admin_lookup_path << '/' << @lookup.id.to_s, :text => t(:create_child, :scope=> [:di, :lookups]))

.title
  %span#create_lookup_title #{t :children, :scope=> [:di, :lookups]}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_lookup{ hidden }

.list#lookups= render :partial => "lookup", :collection => @lookups
#paginate= render :partial => "common/paginate"
 
