= styles_for :lookup

.title= t(:lookup, :scope=> [:di, :lookups]) << " " << h(@lookup.name)

%br
= link_to t(:show_all, :scope => [:di]), admin_lookups_path
%span{:style => "float:right"}
  = "#{t :parent_lookups, :scope=> [:di, :lookups]}: #{link_to_parents(@lookup)}" unless @lookup.parent.nil?

.list#lookupparrent= render :partial => "lookup", :object => @lookup, :locals => {:hide_child_count => true}
%br

.title_tools
  = link_to_inline(:create_lookup, new_admin_lookup_path << '/' << @lookup.id.to_s, :text => t(:create_child, :scope=> [:di, :lookups]))

.title
  %span#create_lookup_title #{t :children, :scope=> [:di, :lookups]}
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#create_lookup{ hidden }

.list#lookups= render :partial => "lookup", :collection => @lookups
#paginate= render :partial => "common/paginate"
 
